<h1>Edit your post:</h1>
<%=form_for @post do |f| %>
	<%=f.label :title, "Title" %><br>
	<%=f.text_field :title %><br>
	<%=f.label :body, "Body" %><br>
	<%=f.text_area :body, size:"30x10" %>
	<%=f.submit ("Save") %>
<%end%>
